<!DOCTYPE html>
<html>

<head>
<title>Effort</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap-all.css">
<script src="/js/bootstrap-all.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="/js/page.js"></script>
<!-- 系统CSS或JS -->
<link rel="stylesheet" href="/css/iconfont1.css">
<link rel="stylesheet" href="/css/system.css">

<style>
</style>
</head>

<body style="-webkit-user-select: none; ">
	<div id="container">
		<div class="row">
			<div class="col-3">
				<h4>Effort 填写</h4>
			</div>
		</div>
		<div class="bh2"></div>
		<div class="bg-content">

			<div class="row">
				<div class="col-sm-3 ">
					<div style="width: 80px; height: 25px; float: left">Effort
						Ower</div>
					<select id="user" v-model="currUser.usercode"  :disabled="userclass!='SYSTEM'? 'disabled': false" style="width: 200px;">
						<option :selected="true" value=""></option>
						<option v-for="user in useroption" :value="user.account">
							{{user.account}}</option>
					</select>
				</div>

				<div class="col-sm-3 ">
					<div style="width: 115px; height: 25px; float: left">Start
						Workdate</div>
					<input type="date" name='candiv' v-model="startworkday"
						style="width: 150px; height: 25px;" />
				</div>

				<div class="col-sm-3 ">
					<div style="width: 100px; height: 25px; float: left">End
						Workdate</div>
					<input type="date" name='candiv' v-model="endworkday"
						style="width: 150px; height: 25px;" />
				</div>
			</div>
			<div class="bh2"></div>
			<div class="bh2"></div>
			<div
				 style="border: 2px solid rgb(222, 226, 230); padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px">
				<div class="row">
					<div class="col-sm-3">
						<div style="width: 80px; height: 25px; float: left">Date</div>
						<input :disabled="userclass=='SYSTEM'? 'disabled': false"  type="date" name='candiv' v-model="effortObj.workday"
							style="width: 200px; height: 25px;" />
					</div>





				</div>
				<div class="bh1"></div>
				<div class="row">
					<div class="col-sm-3">
						<div style="width: 80px; height: 25px; float: left">Task
							Type</div>
						<select :disabled="userclass=='SYSTEM'? 'disabled': false"  v-model="effortObj.tasktype" style="width: 200px;">
							<option value=""></option>
							<option v-for="tasktype in tasktypeList" :value="tasktype.type">{{tasktype.type}}</option>
						</select>
					</div>
					<div class="col-sm-3">
						<div style="width: 115px; height: 25px; float: left">Application
							Name</div>
						<select :disabled="userclass=='SYSTEM'? 'disabled': false"  v-model="effortObj.eaicode" style="width: 150px;">
							<option :selected="true" value=""></option>
							<option v-for="app in appList" :value="app.ckey">
								{{app.cval1}}</option>
						</select>


					</div>
					<div class="col-sm-3">
						<div style="width: 100px; height: 25px; float: left">Ticket
							Number</div>
						<input  :disabled="userclass=='SYSTEM'? 'disabled': false"  type="text" name="childNum"
							v-model="effortObj.ticketnumber"
							style="width: 150px; height: 25px;" />
					</div>
					<div class="col-sm-2">
						<div  style="width: 50px; height: 25px; float: left">Hours</div>
						<input :disabled="userclass=='SYSTEM'? 'disabled': false"  type="text" name="pageUrl" v-model="effortObj.efforthours"
							style="width: 150px; height: 25px;" />
					</div>
				</div>
			</div>
			<div class="row" style="padding: 15px;">

				<button class="mybtn bg-primary" style="margin-left: 15px;"
					@click="addConfig()">保存</button>
				<button class="mybtn bg-primary" style="margin-left: 45px;"
					@click="query">查询</button>
				<form> 
						<button  id="filebtn" style="margin-left: 45px;" class="bg-primary mybtn iconfont  icon-ziyuanxcx"  ><input  type="file" name="file"  @change="getFile($event)"><span style="font-size:10px; margin-left:5px;">{{fileName | format }}</span></button>
						<button  style="margin-left: 45px;"  class="bg-primary mybtn"  type="button" @click="upload">上传</button><span style="color:red">请选择当前登陆用户Effort进行导入</span>
				</form>
			</div>


		</div>
		<div class="bh5"></div>

		<div class="bg-content">
			<div>
				Effort Tracker 结果：
				<button class="bg-primary mybtn1 iconfont  icon-daochu"
					@click="download"></button>
			</div>
			<div class="bh2"></div>
			<div>
				<table class="table   table-bordered   table-sm" >
					<thead>
						<tr>
							<th width="50px;"><input type="checkbox"
								class=" batch checkbox" disabled /></th>
							<th>Effort ID</th>
							<th>AD Owner</th>
							<th>Date</th>
							<th>Associate Name</th>
							<th>Task Type</th>
							<th>EAI Code</th>
							<th>Application Name</th>
							<th>Ticket Number</th>
							<th>Hours</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in dataShow">
							<td width=" 50px;"><input type="checkbox"
								class="batch checkbox" @click=" chk(item.id,$event)" /></td>
							<td>{{item.id}}</td>
							<td><input class="tableinput" :value="item.appower"
								v-model="item.appower" :readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.workday"
								v-model="item.workday" :readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.username"
								v-model="item.username" :readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.tasktype"
								v-model="item.tasktype" :readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.eaiCode"
								v-model="item.eaiCode" :readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.appname"
								v-model="item.appname" :readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.ticketNumber"
								v-model="item.ticketNumber"
								:readonly="status ? false : 'readonly'" /></td>
							<td><input class="tableinput" :value="item.effortsHours"
								v-model="item.effortsHours"
								:readonly="status ? false : 'readonly'" /></td>
							<td><button class="bg-danger table-btn" @click="change()">{{edit}}</button></td>
						</tr>
					</tbody>
				</table>
				<div class="row"></div>
				<button data-toggle="modal" data-target="#myModal"
					class="bg-danger table-btn a-btn text-white"
					@click="deleteConfig()">删除此条</button>
				<button class="bg-danger a-btn myleft-2 text-white"
					data-toggle="modal" data-target="#myModal" @click="updateConfig()">我要修改</button>

			</div>
			<fenye v-bind:parentmsg="url" @myfunc="dataDisplay" ref="fenye" />
		</div>

		<!-- 模态框 -->
		<div class="modal fade myalert" id="myModal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<!-- 模态框头部 -->
					<div class="modal-header">
						<span class="modal-title">系统提示：</span>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- 模态框主体 -->
					<div class="modal-body">
						{{info2}}
						<!-- 模态框底部 -->
						<div class="modal-footer">
							<button class="btn btn-success btn-sm" data-dismiss="modal"
								id="modal-1" @click="confirmbtn(info2)">确 认</button>
							<button type="button" class="btn btn-secondary btn-sm"
								data-dismiss="modal" @click="cancle()">取 消</button>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="ss"></div>
</body>
<script>
	var vm = new Vue({
		el: '#container',
		data: {
			appList:[],
			tasktypeList:[],
			workday: '2020-05-20',
			currUser:{usercode: '', username: ''},
			effortObj: { id: null, userid: '', username:'', appower: '', appname: '', workday: '', eaicode:'',tasktype:'',ticketnumber:'',efforthours:'' },
			info: [],
			role: [],
			status: false,
			check: true,
			file: '',
			fileName:'',
			edit: '启用编辑',
			info2: '',
			configs: [],
			checkGrp: [],
			ids: [],
			flag: false,
			dataShow:[],
			allEfforts:[],
			exportObj: {ADOwer: '' ,Date: '',AssociateName: '',TaskType: '',EAICode: '',ApplicationName: '',TicketNumber: '',Hours: ''},
			url:'/efforts/query',
			startworkday: '',
			endworkday:  '',
			useroption : [],
			userclass:'',
			condition: {usercode:'',startworkday:'', endworkday:''}
		},
		filters:{
			format(data){
				if(data!=null && data!=''){
					data=data.substring(0,1)+".."+data.substring(data.length-4,data.length);
					
				}
				return data;
			}
		},
		created() {
			this.getAppInfo();
			this.getType();
			this.queryEffort();
			this.getUsers();
			this.getCurrUser();
			let date=this.newdate();
			this.effortObj.workday=date.substring(0,4)+"-"+date.substring(4,6)+"-"+date.substring(6,8);
			
 		},
		methods: {
			queryEffort(){
				axios({
					method: 'post',
					url: "/efforts/query",
					data: {
						startworkday: this.startworkday,
						endworkday: this.endworkday,
						usercode: this.currUser.usercode
					},
				}).then(res => {
					this.allEfforts=[];
					res.data.list.forEach((item,index)=>{
						this.allEfforts.push({"AD Ower": item.appower ,"Date":  item.workday,"Associate Name": item.username ,"Task Type": item.tasktype ,"EAI Code": item.eaiCode
							,"Application Name": item.appname ,"Ticket Number":item.ticketNumber ,"Hours":item.effortsHours});
						});
					log("导出：--》")
					log(this.allEfforts);
				}, error => {
					log(error);
				})
			},
			download(){
				log("start ...");
				log(this.allEfforts)
				var filename="Effort_"+this.currUser.username+"_"+this.newdate();
				exportExcel(this.allEfforts,filename);
				ams_alert("下载成功！");
			},
			exportExcel(){
				axios({
					method: 'post',
					url: "/efforts/export",
					data: {
						startworkday: this.startworkday,
						endworkday:this.endworkday,
						usercode:this.currUser.usercode
					},
				}).then(res => {
					ams_alert("下载成功");					  

				}, error => {
					log(error);
				})
			},
			newdate(){
		        var date = new Date();
		        var YYYY = date.getFullYear();
		        var MM = date.getMonth() + 1;
		        var DD = date.getDate();
		        var hh = date.getHours();
		        var mm = date.getMinutes();
		        var ss = date.getSeconds();

		        MM = MM < 10 ? ('0' + MM) : MM;
		        DD = DD < 10 ? ('0' + DD) : DD;
		        hh = hh < 10 ? ('0' + hh) : hh;
		        mm = mm < 10 ? ('0' + mm) : mm;
		        ss = ss < 10 ? ('0' + ss) : ss;

		        return YYYY + MM  + DD + hh + mm + ss+"";
			},
			getAppInfo(){
				axios({
					method: 'get',
					url: '/efforts/applist',
				}).then(res => {
					log(res.data);
					this.appList = res.data;
				
				}, error => {
				});
			},
			getUsers(){
				axios({
					method: 'get',
					url: '/efforts/users',
				}).then(res => {
					log(res.data);
					this.useroption = res.data;
					log(this.useroption);
					
				}, error => {
				});
			},
			getCurrUser(){
				axios({
					method: 'get',
					url: '/efforts/loginuser',
				}).then(res => {
					log(res.data);
					this.currUser.usercode = res.data;
					this.userclass=res.data;
					this.useroption.forEach((item,index)=>{
						if((item.usercode).toLowerCase()==this.currUser.usercode.toLowerCase()){
							this.currUser.username=item.account;
						}
					})
				}, error => {
				});
			},
			getType(){
				axios({
					method: 'get',
					url: '/json/tasktype.json',
				}).then(res => {
					log(res.data);
					this.tasktypeList = res.data;
					log(this.tasktypeList);
					
				}, error => {
				});
		},
			dataDisplay(dataShow){	 this.dataShow=dataShow;},
			query() {	
				this.condition.usercode=this.currUser.usercode;
				this.condition.startworkday=this.startworkday;
				this.condition.endworkday=this.endworkday;
				this.$refs.fenye.condition(this.condition);
			    this.queryEffort();
			    },
		
			 
			addConfig() {
			    	this.effortObj.userid=this.currUser.usercode;
					this.effortObj.username=this.currUser.username;
					
			    	if(this.currUser.usercode=='SYSTEM'){
						ams_alert('管理员无法填写Effort ! ');
						return false;
					}	
			    	
				if (
					   (this.effortObj.workday == '' || this.effortObj.workday == null) || 
						(this.effortObj.eaicode == '' || this.effortObj.eaicode == null) || 
						(this.effortObj.tasktype == '' || this.effortObj.tasktype == null) || 
						(this.effortObj.ticketnumber == '' || this.effortObj.ticketnumber == null) || 
						(this.effortObj.efforthours == '' || this.effortObj.efforthours == null) ) {
					ams_alert( '好像还有什么没填~');
					return false;
				}
				axios({
					method: 'put',
					url: '/efforts/save',
					data: this.effortObj,
				}).then(res => {
					if(res.data==1){
						this.query();
						ams_alert("已保存！");
						
						
					}
				}, error => {
				});
			},
			confirmbtn(info) {
				if (info.indexOf('确定要删除所选记录吗') != -1) {
					axios({
						method: 'delete',
						url: '/efforts/delete',
						data: { msg: this.checkGrp},
						
					}).then(resrm => {
						ams_alert(resrm.data);
						
						this.query();
						this.checkGrp = [];
					}, error => {
					});
				}

				if (info.indexOf('确定修改记录') != -1) {
					var checkGrp = this.checkGrp;
					var configs = this.dataShow;
					var myarr = [];
					for (x in configs) {
						for (y in checkGrp) {
							if (configs[x].id == checkGrp[y]) {
								//effortObj: { id: null, appId: '', appName: '', appDescrib: '', appOwner: '', ownerEmail: '', appMaintenance: '', maintenanceEmail: '', appUrl1: '', appUrl2: '', appUrl3: '' },
								var param = '{"id":"' + configs[x].id + '","userid":"' + configs[x].userid + '","username":"' + configs[x].username +
									'","workday":"' + configs[x].workday + '","tasktype":"' + configs[x].tasktype + '","eaiCode":"' + configs[x].eaiCode + '","appname":"' + configs[x].appname +
									'","appower":"' + configs[x].appower + '","ticketNumber":"'+configs[x].ticketNumber+'" ,"effortsHours":"'+configs[x].effortsHours+ '"}';
								myarr.push(param);
							}
						}
					}
					axios({
						method: 'post',
						url: '/efforts/update',
						data: {
							msg: myarr
						},
					}).then(resrm => {
						ams_alert(resrm.data);
						this.checkGrp = [];
						this.flag = false;
						this.query();
					}, error => {
					});
				}
				return;
			},
			chk(id, e) {
				if (e.target.checked) {
					this.checkGrp.push(id);
				}
				else {
					this.checkGrp.splice(this.checkGrp.indexOf(id), 1);
				}
			},
			deleteConfig() {
				if (this.checkGrp == '') {
					this.info2 = "请先选择要操作的记录";
					return;
				}
				this.info2 = "确定要删除所选记录吗：{" + this.checkGrp + "}";
			},

			cancle() {
				this.flag = false;
			},
			updateConfig() {
				if (this.checkGrp == '') {
					this.info2 = "请先选择要操作的记录";
					return false;
				}
				this.info2 = "确定修改记录：{" + this.checkGrp + "}";
			},
			change() {
				this.status = !this.status;
				if (this.status == true) {
					this.edit = '关闭编辑';
				}
				else {
					this.edit = '启用编辑';
				}
			},
			upload(event){
				
		        let formData = new FormData();
		        formData.append('file', this.file);
		        formData.append("effortuser",this.currUser.usercode);
		        formData.append("startworkday",this.startworkday);
		        formData.append("endworkday",this.endworkday);
		        let config = {
		          headers: {
		            'Content-Type': 'multipart/form-data'
		          }
		        }
		      axios.post("/efforts/upload", formData, config).then(function (res) {
		        			alert(res.data);
  	
		      }) 
				
			},
			getFile(event) {
		        this.file = event.target.files[0];
		        this.fileName=this.file.name;
		        
		      },

		}
	})



/**
 * JS报表导出插件
 */
function exportExcel(JSONData, FileName, title, filter) {
	log("开始导出effort报表");
	log(JSONData);
    if (!JSONData) return;
    //转化json为object
    var arrData = typeof JSONData != "object" ? JSON.parse(JSONData) : JSONData;
    var excel = "<table>";
    //设置表头
    var row = "<tr>";
    if (title) { //使用标题项
      for (var i in title) {
        row += "<th align='left'>" + title[i] + "</th>";
      }
    } else {//不使用标题项
      for (var i in arrData[0]) {
        row += "<th align='left'>" + i + "</th>";
      }
    }
    excel += row + "</tr>";
    //设置数据
    for (var i = 0; i < arrData.length; i++) {
      var row = "<tr>";
      for (var index in arrData[i]) {
        //判断是否有过滤行
        if (filter) {
          if (filter.indexOf(index) == -1) {
            var value = arrData[i][index] == null ? "" : arrData[i][index];
            row += "<td>" + value + "</td>";
          }
        } else {
          var value = arrData[i][index] == null ? "" : arrData[i][index];
          row += "<td align='left'>" + value + "</td>";
        }
      }
      excel += row + "</tr>";
    }
    excel += "</table>";
    var excelFile =
      "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:x='urn:schemas-microsoft-com:office:excel' xmlns='http://www.w3.org/TR/REC-html40'>";
    excelFile +=
      '<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">';
    excelFile +=
      '<meta http-equiv="content-type" content="application/vnd.ms-excel';
    excelFile += '; charset=UTF-8">';
    excelFile += "<head>";
    excelFile += "<!--[if gte mso 9]>";
    excelFile += "<xml>";
    excelFile += "<x:ExcelWorkbook>";
    excelFile += "<x:ExcelWorksheets>";
    excelFile += "<x:ExcelWorksheet>";
    excelFile += "<x:Name>";
    excelFile += "{worksheet}";
    excelFile += "</x:Name>";
    excelFile += "<x:WorksheetOptions>";
    excelFile += "<x:DisplayGridlines/>";
    excelFile += "</x:WorksheetOptions>";
    excelFile += "</x:ExcelWorksheet>";
    excelFile += "</x:ExcelWorksheets>";
    excelFile += "</x:ExcelWorkbook>";
    excelFile += "</xml>";
    excelFile += "<![endif]-->";
    excelFile += "</head>";
    excelFile += "<body>";
    excelFile += excel;
    excelFile += "</body>";
    excelFile += "</html>";
    var uri =
      "data:application/vnd.ms-excel;charset=utf-8," +
      encodeURIComponent(excelFile);
    var link = document.createElement("a");
    link.href = uri;
    link.style = "visibility:hidden";
    link.download = FileName + ".xls";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
</script>

</html>