<!DOCTYPE html>
<html>

<head>
	<title>系统健康</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap-all.css">
	<script src="/js/bootstrap-all.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script src="/js/page.js"></script>
	<!-- 系统CSS或JS -->
	<link rel="stylesheet" href="/css/system.css">

	<style>
	</style>
</head>

<body>
	<div id="container">
		<div class="row">
			<div class="col-3">
				<h4>系统健康</h4>
			</div>
		</div>
		<div class="bh2"></div>
		<div class="bg-content">


			<div class="row">
				<div class="col-sm-2">
					EAI Code：<input type="text" name="roleCode" v-model="resultobj.appId" :value="resultobj.appId"
						style="width: 150px; height: 25px;" />
				</div>

				<div class="col-sm-2">
					系统名称：<input type="text" name="roleName" v-model="resultobj.appName" :value="resultobj.appName"
						style="width: 150px; height: 25px;" />
				</div>
			</div>
			<div class="row" style="padding: 15px;">
				<button class="bg-primary mybtn" @click="query">健康查询</button>
			</div>

		</div>
		<div class="bh5"></div>

		<div class="bg-content" v-if="showResult">
			<div>系统健康状态表：</div>
			<div class="bh2"></div>
			<div>
				<table class="table  table-bordered   table-sm  table-striped table-hover" style="overflow:hidden">
					<thead>
						<tr>
							<th width="50px;"><input type="checkbox" class=" batch checkbox" v-model="isAll"
									@click="getSelected()" /></th>
							<th >监控时间</th>
							<th>EAI Code</th>
							<th>应用名称</th>
							<th>应用Owner</th>
							<th >应用描述</th>
							<th >监控地址</th>
							<th style="text-align: center;">健康状态</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in dataShow">
							<td width=" 50px;"><input type="checkbox" class="batch checkbox"
									@click=" chk(item.id,$event)" v-model="item.chk" /></td>
							<td>{{item.createTime}}</td>
							<td>{{item.appId}}</td>
							<td>{{item.appName}}</td>
							<td>{{item.appOwner}}</td>
							<td>{{item.appDescrib}}</td>
							<td >{{item.result | dataFormat()}}</td>
							<td style="text-align: center;"><button  :class="['tipsbtn',item.status=='false'?  'bg-danger' : 'bg-success']"></button></td>
						</tr>
					</tbody>
				</table>
				<div class="row"></div>
				

			</div>
			<fenye v-bind:parentmsg="url1"  @myfunc="dataDisplay"  ref="fenye"/>
		</div>


		
		<!-- 模态框 -->
	<div class="modal fade myalert" id="myModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<!-- 模态框头部 -->
				<div class="modal-header">
					<span class="modal-title">系统提示：</span>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 模态框主体 -->
				<div class="modal-body">{{info2}}
				<!-- 模态框底部 -->
				<div class="modal-footer">
					<button class="btn btn-success btn-sm" data-dismiss="modal" id="modal-1"
						@click="confirmbtn(info2)">确 认</button>
					<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" @click="cancle()">取
						消</button>
				</div>

			</div>
		</div>
	</div>
		</div>
	</div>
	
	
	
	
	<div id="ss"></div>
</body>
<script>
	var vm = new Vue({
		el: '#container',
		data: {
			resultobj: { id: null, appId: '', appName: '' },
			info: [],
			role:'',
			menus: [],
			parentMenus: [],
			roleMenus:[],
			status: false,
			check: true,
			edit: '启用编辑',
			info2: '',
			dataList: [],
			checkGrp: [],
			ids: [],
			showResult: true,
			flag: false,
			dataShow:[],
			url1: '/fenyeQueryHealth'
		},

		computed: {
			isAll: {
				get() {
					return this.dataShow.every(item => item.chk);
				},
				set(value) {
					this.dataShow.forEach(item => {
						item.chk = value;
					})
				}
			}
		}
		,
		filters: {
                    dataFormat(msg) {
                        return msg.substring(msg.indexOf("url="),msg.length-1);
                    }
                },
		methods: {

			isAllc(aaa, chk) {
				if (chk) {
					this.roleMenus.push(aaa);
					this.menus.forEach(item => {
						if (item.parentNodeCode == aaa) {
							item.chk = true;
							this.roleMenus.push(item.nodeCode);
						}
					})
				}
				else{
					this.roleMenus.splice(this.roleMenus.indexOf(aaa),1);
					
					this.menus.forEach(item => {
					if (item.parentNodeCode == aaa) {
						item.chk = false;
						this.roleMenus.splice(this.roleMenus.indexOf(item.nodeCode),1);
					}})
				}
				 
				//alert("即将为用户："+this.checkGrp+"添加"+this.roleMenus+"节点");
			},
			notAllc(nodeP, nodecode, parentcode, chk) {
				if (chk) {
				this.parentMenus.forEach(item => {
						if (item.nodeCode == parentcode) {
							item.chk = true;
							this.roleMenus.push(parentcode);
						}
				})
				this.roleMenus.push(nodecode);
			  }
				if (!chk) {
					var count = 0;
					this.menus.forEach(item => {
						if (item.parentNodeCode == nodeP) {
							if (item.chk != false) {
								count++;
							}
						}
					})
					if (count == 0) {
						this.parentMenus.forEach(item => {
								if (item.nodeCode == parentcode) {
									item.chk = false;
								}
						})
					}
					this.roleMenus.splice(this.roleMenus.indexOf(nodecode),1);
				}
					//alert("即将为用户："+this.checkGrp+"添加"+this.roleMenus+"节点");
			}
			,
			dataDisplay(aa){
				this.dataShow=aa
			},
			getSelected() {
				this.checkGrp = [];
				this.dataList.forEach(item => {
					if (item.chk) {
						this.checkGrp.push(item.id);
					}
					else {
						this.checkGrp.splice(this.checkGrp.indexOf(item.id), 1);
					}
				})
			},
			query() {
				this.$refs.fenye.condition(this.resultobj);
			},
			 
			chk(id, e) {
				if (e.target.checked) {
					this.checkGrp.push(id);
				}
				else {
					this.checkGrp.splice(this.checkGrp.indexOf(id), 1);
				}
			},
		 

			cancle() {
				this.flag = false;
			},
		 
			change() {
				this.status = !this.status;
				if (this.status == true) {
					this.edit = '关闭编辑';
				}
				else {
					this.edit = '启用编辑';
				}
			}

		}
	})

</script>

</html>